.box1{
    height: 74px;
    background-color: #1b2b3b;
}


.box1-dbu img{
    float: left;
}

.box1-dbu span{
    float: left;
    line-height: 72px;
    font-size: 25px;
    color: #eeb81a
}

.box1-dbu a{
    float: right;
    line-height: 72px;
    color: #c8c8ce;
    font-size: 20px;
    background-image: url(../img/xiasanjiao.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: 163px;
    box-sizing: border-box;
}

.box1-dbu i{
    font-size: 20px;
    padding-right: 10px;
}

/* 第二部分 */
.box2{
    position: relative;
}

.box2-img img{
   width: 100%;
   height: 680px;
}


.box-denglu{
    position: absolute;
    right: 165px;
    top: 50px;
    width: 450px;
    height: 468px;
    background-color: #fff;
}

.box-denglu-top{
    width: 100%;
    height: 60px;
}

.box-denglu-top h3{
    float: left;
    width: 226px;
    height: 60px;;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    line-height: 60px;
    margin-left: 23px;
}

.box-denglu-top h2{
    float: right;
    width: 200px;
    height: 60px;;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    line-height: 60px;
    color: #797a92;
    background-color: #f3f4f6;
    border-left: 1px solid #e9ebee;
    border-bottom: 1px solid #e9ebee;
}


.box2-dahezi-bottom-1{
    position: relative;
    width: 398px;
    height: 47px;
    border: 1px solid #f2f3f5; 
    margin: 15px 23px;

}

.box2-dahezi-bottom-1:hover{
    border-color: #fabe00;
}

.box2-dahezi-bottom-1-left{
    float: left;
    width: 43px;
    height: 47px;
}

.box2-dahezi-bottom-1-left i{
  position: absolute;
  font-size: 20px;
  top: 9px;
  left: 8px;
  color: #bebec4;
  font-weight: 100;
}

.box2-dahezi-bottom-1 input{
    float: right;
    width: 355px;
    height: 47px;
    border: none;
}

input {
   font-size: 16px;
}


.box2-dahezi-bottom-3{
    position: relative;
    width: 398px;
    height: 20px;
    text-align: center;
    margin: 15px 23px
}

.box2-dahezi-bottom-3 i{
    position: absolute;
    color: #6ab0ff;
    left: 0px;
    top: -4px;
}

.box2-dahezi-bottom-3 span{
    float: left;
    padding-left: 25px;
    font-size: 14px;
    color: #60606c;
}


.box2-dahezi-bottom-3 p{
    float: right;
    font-size: 15px;
    color: #6ab0ff;
}

.box2-dahezi-bottom-3 p:hover{
    text-decoration: underline;
}

.box2-dahezi-bottom-4{
    width: 398px;
    height: 63px;
    background-color: #fabe00;
    border-radius: 3px 3px 3px 3px;
    margin-top: 20px;
    margin-left: 23px;
}

.box2-dahezi-bottom-4 h3{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 63px;
}

.box2-dahezi-bottom-5{
    width: 398px;
    height: 63px;
    border: 1px solid #e9ebee;
    border-radius: 3px 3px 3px 3px;
    margin-top: 20px;
    margin-left: 23px;
}


.box2-dahezi-bottom-5 p{
    text-align: center;
    color: #60606c;
    font-size: 18px;
    font-weight: 500;
    line-height: 63px;
}

.box2-dahezi-bottom-5 p span{
    color: #6ab0ff;
}




.box3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 115px;
    background-color: rgba(247, 247, 248,0.9)
}

.box3-1{
    float: left;
    position: relative;
    width: 335px;
    height: 115px;
    border-left: 1px solid #eceef1;
    border-right: 1px solid #eceef1;
    text-align: center;
}

.box3-1 i{
    position: absolute;
    font-size: 39px;
    color: #eeb81a;
    top: 26px;
    left: 144px;
}

.box3-1 p{
    margin-top: 80px;
    font-size: 17px;
    color: #71767a; 
}

/* 第三部分 */

.box4{
    height: 224px;
    border-top: 1px solid #e9ebee;
}

.box4-bottom dl{
    width: 150px;
    height: 120px;
    padding-right: 146px;
    padding-top: 50px;
    display: inline-block;
}

.box4-bottom dl:last-child{
    padding-right: 0;
}


.box4-bottom dt{
    font-size: 18px;
    color: #60606c;
    padding-bottom: 15px;
}

.box4-bottom dd a{
    float: left;
    min-width: 70px;
    font-size: 14px;
    color: #93939e;
    line-height: 14px;
    padding-bottom: 12px;
} 

.box4-bottom5 dd a{
    min-width: 76px;
}

.box4-bottom dd a:hover{
    text-decoration: underline;
}

/* 第四部分 */

.box5-bottom5{
    height: 67px;
}

.box5-banxhezi{
    width: 100%;
    height: 67px;
    border-top: 1px solid #f7f7f9;
    border-bottom: 1px solid #f7f7f9;
}

.box5-banxhezi a{
    float: left;
    width: 103px;
    font-size: 15px;
    color: #93939e;
    line-height: 67px;
}

.box5-banxhezi .box5-bottom5-right{
    float: right;
}

.box5-banxhezi a:hover{
    color: #fabe00;
} 

/* 第五部分 */

.box6-bottom6{
    padding-top: 30px;
}


.box6-banxhezi {
    width: 100%;
    height: 30px;
}
.box6-banxhezi p{
    float: left;
    font-size: 13px;
    color: #93939e;
    padding-bottom: 10px;
}

.box6-bottom6 .box6-bottom6-right{
    float: right;
}

.box6-bottom6-right a{
    color: #fabe00;
}

