.box{
    width: 100%;
    height: 77px;
    border-top: 2px solid #fee100;
    background-color: #1b2b3b;
}

.box1-left{
    float: left;
}

.box1-left span{
    color: #f9bd00;
}

.box1-left a{
    color: #c4c8cc;
    line-height: 75px;
    padding-right: 20px;
    font-size: 15px;
}

.box1-left a:hover{
    color: #dead1c;
}

.box1-right span{
    color: #f9bd00;
}


.box1-right{
    float: right;
    position: relative;
}

.box1-right a{
    color: #c4c8cc;
    line-height: 75px;
    padding-right: 31px;
    font-size: 15px;
}

.box1-right span:hover{
    text-decoration:underline;
    color: #fabe00;
}

.box1-right a:hover{
    text-decoration:underline;
}

.box1-right img{
    position: absolute;
    bottom: 33px;
    right: 18px;
}

/* 第二部分 */

.box2 img{
    position: relative;
    width: 100%;
    height: 338px;
}
 
.box2-left{
    position: absolute;
    top: -290px;
    width: 583px;
    height: 214px;
    background-color: #fff;
}

.box2-left-top{
    width: 100%;
    height: 60px;
    border-bottom: 1px dashed #eff4f6;
}

.box2-left-top p{
    font-size: 18px;
    margin-left: 55px;
    line-height: 60px;
    color: #333333;
}

.box2-left-bottom{
    width: 583px;
    height: 154px;
}

.box2-left-bottom1{
    float: left;
    position: relative;
    margin-left: 55px;
    margin-top: 23px;
    width: 366px;
    height: 38px;
}

.box2-left-bottom1 h3{
    float: left;
    font-size: 12px;
    font-weight: 100;
    line-height: 38px;
}

.box2-left-bottom1 input{
    float: right;
    width: 300px;
    height: 34px;
}

input{
    font-size: 15px;
    color: #93939e;
    padding-left: 5px;
}


.box2-left-bottom1 i{
    position: absolute;
    top: 8px;
    right: 7px;
    font-size: 20px;
}

.box2-left-bottom-right{
    float: right;
    width: 81px;
    height: 81px;
    background-color: #53b0f6;
    margin-top: -28px;
    margin-right: 65px;
    border-radius: 3px 3px 3px 3px;
    /* box-shadow: 0 0 9px 0px blue inset; */
}

.box2-left-bottom-right:hover{
    box-shadow: 0 0 10px 0px blue inset;
}

.box2-left-bottom-right p{
    text-align: center;
    line-height: 81px;
    color: #fff;
    font-size: 18px;
}

.box3{
    height: 1409px;
    background-color: #f6fafb;
}

.box3-left{
    float: left;
    margin-top: 23px;
    width: 920px;
    height: 1383px;
    border: 1px solid #eff3f6;
    background-color: #fff;
}

.box3-left1{
    width: 100%;
    height: 48px;
    background-color: #eaf6fd;
    display: inline-block;
}

.box3-left1-1{
    float: left;
    width: 77px;
    height: 45px;
    border-right: 1px solid #e1ecf3;
    border-top: 3px solid #61a1df;
}

.box3-left1-1 .dbu{
    line-height: 45px;
    padding-left: 20px;
    color: #61a1df;
    font-size: 17px;
}


.box3-left1-2{
    float: left;
    width: 77px;
    height: 48px;
    border-right: 1px solid #e1ecf3;
    position: relative;
    transition: all 0.1s;
}

.box3-left1-2:hover{
    border-top: 2px solid #61a1df;
}

.box3-left1-2 span:hover{
    color: #61a1df;
}

.box3-left1-2 span{
    line-height: 45px;
    color: #333;
    padding-left: 20px;
    font-size: 17px;
}

.box3-left1-3{
    float: right;
    width: 97px;
    height: 45px;
    border-right: 1px solid #e1ecf3;
    border-left: 1px solid #e1ecf3;
}

.box3-left1-3 span{
    line-height: 45px;
    color: #61a1df;
    font-size: 17px;
    padding-left: 5px;
}


.box3-left2{
    width: 100%;
    height: 43px;
    border-bottom: 1px solid #e1ecf3;
}

.box3-left2-1{
    float: left;
    width: 260px;
    height: 43px;
    border-right: 1px solid #e1ecf3;
}


.box3-left2-1 span{
    line-height: 43px;
    color: #333;
    font-size: 15px;
    padding-left: 113px;
}

.box3-left2-2{
    float: left;
    width: 201px;
    height: 43px;
    border-right: 1px solid #e1ecf3;
}


.box3-left2-2 span{
    line-height: 43px;
    color: #333;
    font-size: 15px;
    padding-left: 57px;
}


.box3-left3{
    width: 100%;
    height: 214px;
    border-bottom: 1px dashed #edf2f5;
}

.box3-left3-left{
    float: left;
    width: 415px;
    height: 214px;
    /* background-color: #53b0f6; */
}

.box3-left3-left p{
    color: red;
    padding-top: 10px;
}

.box3-left3-left1{
    float: left;
    margin-top: 55px;
    width: 195px;
    height: 107px;
    margin-left: 70px;
}

.box3-left3-left1 img{
    width: 150px;
    height: 90px;
}

.box3-left3-left1 h3{
    color: #333;
    font-size: 15px;
    font-weight: 100;
}

.box3-left3-left2 {
    float: right;
    width: 123px;
    height: 63px;
    margin-top: 84px;
}

.box3-left3-left2 h2{
    font-size: 14px;
    font-weight: 100;
    padding-bottom: 8px;
    color: #848494;
}

.box3-left3-left2 .lanse{
    color: #61a1df
}


.box3-left3-right{
    float: right;
    width: 416px;
    height: 212px;
    /* background-color: #fff; */
}

.box3-left3-right p{
    float: left;
    padding-top: 113px;
    font-size: 15px;
    color: #333;
    padding-right: 103px;
}

.box3-left3-right h3{
    float: left;
    padding-top: 109px;
    font-size: 33px;
    color: #333;
    padding-right: 75px;
    color: red;
    font-weight: 100;
 }

 .box3-left3-right i{
        font-size: 23px;
 }


 .box3-left3-right-3{
    float: left;
     width: 83px;
     height: 35px;
    margin-top: 111px;
    font-size: 15px;
    color: #333;
    border: 1px solid #ff8100;
    border-radius: 3px 3px 3px 3px;
    background-color: #ff8b00;
    text-align: center;
 }

 .box3-left3-right-3 h1{
     margin-top: 9px;
     color: #fff;
 }

 .box3-right{
     float: right;
     width: 391px;
     height: 765px;
     margin-top: 23px;
 }

 .box3-right img{
    width: 391px;
    height: 380px;
}

.box3-right-bottom2{
    width: 391px; 
    height: 359px;  
    border: 1px solid #eef3f6;
    margin-top: 25px;
     background-color: #fff;
}

.box3-right-bottom2-biaoti {
    width: 391px;
    height: 58px;
    border-bottom: 1px solid #eef3f6;
}

.box3-right-bottom2-biaoti p{
    font-size: 18px;
    color: #848484;
    padding-top: 20px;
    padding-left: 20px;
}

.box3-right-bottom3{
    width: 344px;
    height: 261px;
    margin-top: 17px;
    margin-left: 21px;
}

.box3-right-bottom3 p{
    color: #848484;
    font-size: 13px;
    padding-bottom: 8px;
}

/* 第四部分 */


.box4{
    width: 100%;
    height: 70px;
    background-color: #f6fafb;
}


.box4-1{
    float: right;
    margin-right: 428px;
    margin-top: 25px;
    width: 229px;
    height: 37px;
    border: 1px solid #e8eef2;
}

.box4-1 .xhuax{
    border-bottom: 2px solid #61a1df;
    color: #61a1df;
}

.box4-1 p{
    float: left;
    width: 30px;
    height: 37px;
    text-align: center;
    color: #848484;
    line-height: 37px;
    border-right: 1px solid #e8eef2;
}

.box4-1 .xyiye{
    float: left;
    border-right: none;
    width: 73px;
    height: 37px;
    color: #848484;
    line-height: 37px;
    text-align: center;
    font-weight: 100;
}

.box4-1 p:hover{
   border-bottom:  2px solid #61a1df;
}

/* 第五部分 */

.box8{
    height: 200px;
    background-color: #f6fafb;
}

.box8-bottom dl{
    width: 150px;
    height: 120px;
    padding-right: 146px;
    padding-top: 50px;
    display: inline-block;
}

.box8-bottom dl:last-child{
    padding-right: 0;
}


.box8-bottom dt{
    font-size: 18px;
    color: #60606c;
    padding-bottom: 15px;
}

.box8-bottom dd a{
    float: left;
    min-width: 70px;
    font-size: 14px;
    color: #93939e;
    line-height: 14px;
    padding-bottom: 12px;
} 

.box8-bottom5 dd a{
    min-width: 76px;
}

.box8-bottom dd a:hover{
    text-decoration: underline;
}

/* 底部导航 */

.box6{
    width: 100%;
    height: 208px;
    background-color: #1b2b3b;

}

.box9-bottom5{
    width: 100%;
    height: 67px;
    border-bottom: 1px solid #223241;
    /* background-color: #1b2b3b; */
}

.box9-bottom5 a{
    float: left;
    width: 89px;
    font-size: 13px;
    color: #838590;
    line-height: 67px;
}

.box9-bottom5 .box9-bottom5-right{
    float: right;
}

 .box9-bottom5 a:hover{
    color: #fabe00;
} 

.box9-bottom6{
    /* background-color: #1b2b3b; */
    padding-top: 30px;
}

.box9-bottom6 p{
    float: left;
    font-size: 13px;
    color: #838590;
    padding-bottom: 10px;
}

.box9-bottom6 .box9-bottom6-right{
    float: right;
}

.box9-bottom6-right a{
    color: #fabe00;
}

.tupian{
    width: 222px;
    height: 44px;
}